@mixin processor-icon-before($processorCategory) {
    &::before {
        background-image:
            linear-gradient(var(--color-processor-highlight-subtle), var(--color-processor-highlight-subtle)),
            url('../assets/icons/buildings/' + $processorCategory + '.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
        display: block;
    }
}

.-extractor { --rgb-processor: 220, 180, 40; }
.-bioreactor { --rgb-processor: 136, 230, 117; }
.-refinery { --rgb-processor: 87, 213, 255; }
.-factory { --rgb-processor: 40, 120, 255; }
.-shipyard { --rgb-processor: 129, 129, 255; }
.-empty-lot { --rgb-processor: 241, 131, 97; }

.processor {
    --color-processor: rgb(var(--rgb-processor));
    --color-processor-header-bg: hsl(from var(--color-processor) h s calc(l * 0.5) / 0.15);
    --color-processor-highlight-bg: rgba(var(--rgb-processor), 0.2);
    --color-processor-highlight-subtle: rgba(var(--rgb-processor), 0.5);
    --color-processor-process-hover: rgba(var(--rgb-processor), 0.05);
    --color-processor-processes-bg: hsl(from var(--color-processor) h s calc(l * 0.05) / 0.5);
    --processor-icon-size: 32px;

    &.-extractor .processor-header { @include processor-icon-before('Extraction'); }
    &.-bioreactor .processor-header { @include processor-icon-before('Agriculture'); }
    &.-refinery .processor-header { @include processor-icon-before('Refining'); }
    &.-factory .processor-header { @include processor-icon-before('Manufacturing'); }
    &.-shipyard .processor-header { @include processor-icon-before('Shipbuilding'); }
    &.-empty-lot .processor-header { @include processor-icon-before('Construction'); }

    .processor-header {
        --processor-header-gap: 16px;
        align-items: center;
        background-color: var(--color-processor-header-bg);
        color: var(--color-processor);
        display: flex;
        gap: var(--processor-header-gap);
        height: var(--processor-icon-size);
        padding-right: var(--processor-header-gap);

        &::before {
            border: calc(var(--processor-icon-size) * 0.25 / 2) solid var(--color-processor-highlight-subtle);
            height: calc(var(--processor-icon-size) * 0.75);
            width: calc(var(--processor-icon-size) * 0.75);
        }

        .processor-name { white-space: nowrap; }
    }
}
