@import './_core.scss';
@import './_processor.scss';
// Above imports required for below imports
@import './main-menu.scss';
@import './overlay.scss';

:root {
    --button-icon-size: 32px;
    --color-button-bg: #2a2a2a; // avg. of grayscaled processor-header bg-colors
}

@mixin button-icon-pseudo-element {
    // NOTE: "--button-icon-size" must be set in each context where this class is used
    align-items: center;
    background-color: #6a6a6a; // avg. of grayscaled processor-icon bg-colors
    display: flex;
    height: var(--button-icon-size);
    justify-content: center;
    width: var(--button-icon-size);
}

#industry-plan {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px 64px 32px 64px;

    &.is-pending-operation {
        position: relative;

        &::before,
        &::after {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 2;
        }

        &::before {
            backdrop-filter: blur(16px);
            background-color: rgba(0, 0, 0, 0.25);
            content: '';
            display: block;
        }

        &::after {
            align-items: center;
            animation: roate-pending 3000ms linear infinite;
            content: '⚛';
            display: flex;
            font-size: 300%;
            justify-content: center;
            opacity: 0.75;

            @keyframes roate-pending {
                100% { transform: rotate(360deg); }
            }
        }
    }

    #industry-plan-header {
        align-items: center;
        display: flex;
        gap: 64px;
        height: 48px;
        position: relative;

        &:empty::before { content: 'Create or load an industry plan using the menu in the top-left corner'; }

        #plan-menu {
            align-items: center;
            color: var(--color-text-normal);
            display: flex;
            flex-direction: column;
            height: 40px;
            position: absolute;
            right: 100%;
            top: 4px;
            width: 64px;

            .plan-menu-inner {
                align-items: center;
                display: flex;
                height: 40px;
                justify-content: center;
                position: relative;
                width: 56px;

                &::before {
                    content: '⋮';
                    font-size: 150%;
                    transition: all 250ms;
                }

                ul {
                    background-color: var(--color-nav-bg);
                    display: flex;
                    filter: drop-shadow(4px 4px 4px black);
                    flex-direction: column;
                    left: 0;
                    list-style: none;
                    position: absolute;
                    top: 100%;
                    z-index: 1;

                    li {
                        align-items: center;
                        color: var(--color-text-normal);
                        cursor: pointer;
                        display: flex;
                        line-height: 40px;
                        padding-right: 16px;
                        white-space: nowrap;

                        &:hover {
                            @include hover-lighten-bg;
                            color: white !important;
                        }

                        &::before {
                            content: 'x';
                            text-align: center;
                            width: 56px;
                        }

                        &.-duplicate {
                            color: rgb(var(--rgb-processor-bioreactor));

                            &::before { content: '❐'; }
                        }

                        &.-share {
                            color: rgb(var(--rgb-processor-factory));

                            &::before {
                                content: '⮑';
                                transform: scaleY(-1);
                                font-size: 70%;
                            }
                        }

                        &.-remove {
                            color: var(--color-warning);

                            &::before { content: '✕'; }

                            &:hover {
                                background-color: var(--color-warning);
                                color: white;
                            }
                        }
                    }
                }
            }

            &:hover {
                .plan-menu-inner {
                    background-color: var(--color-nav-bg);

                    &::before {
                        color: white;
                        transform: rotate(90deg);
                    }
                }
            }

            &:not(:hover) .plan-menu-inner ul { display: none; }
        }

        .title-wrapper {
            // These elements must have identical styling, for the width measurement @ "IndustryPlan.onInputTitle"
            .title-hidden, .title-input {
                border: 1px solid transparent;
                font-size: 200%;
                height: unset;
                min-width: 32px;
            }

            .title-hidden {
                opacity: 0;
                position: fixed;
                top: -100vh;
                white-space: pre;
            }

            .title-input {
                --color-duplicated: rgb(var(--rgb-processor-bioreactor));
                background-color: transparent;
                color: var(--color-text-normal);
                padding: 0;

                &:hover, &:focus {
                    background-color: var(--color-nav-bg);
                    color: white;
                }

                &.flash-title {
                    animation: flash-title 500ms;

                    @keyframes flash-title {
                        25% { color: var(--color-duplicated); }
                        50% { color: var(--color-text-normal); }
                        75% { color: var(--color-duplicated); }
                    }
                }
            }
        }

        .save-icon {
            align-items: flex-end;
            border-bottom: 2px solid white;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            height: 24px;
            justify-content: center;
            opacity: 0.5;
            transition: all 500ms;
            width: 24px;

            &::before {
                content: '⮕';
                display: inline-block;
                transform: rotate(90deg);
            }

            &:hover { opacity: 1; }

            &.saved {
                --color-saved: rgb(var(--rgb-processor-bioreactor));
                border: 2px solid var(--color-saved);
                border-radius: 50%;
                color: var(--color-saved);
                cursor: unset;
                pointer-events: none;

                &::before {
                    content: '✓';
                    transform: unset;
                }
            }
        }

        #refining-penalty {
            align-items: center;
            display: flex;

            &::before {
                content: 'Scientists in Crew:';
                margin-right: 16px;
                opacity: 0.5;
            }

            .scientists-count {
                color: var(--color-text-normal);
                cursor: pointer;
                line-height: 32px;
                text-align: center;
                width: 32px;

                &:hover {
                    @include hover-lighten-bg;
                    color: white;
                }

                &.selected {
                    background-color: rgba(var(--rgb-processor-refinery), 0.75);

                    &:hover { color: white; }

                    &.warning-if-selected { background-color: var(--color-warning); }
                }
            }
        }

        .generate-plan-for-target-products {
            .generate-plan-button {
                align-items: center;
                background-color: var(--color-button-bg);
                color: rgba(255, 255, 255, 0.6);
                cursor: pointer;
                display: flex;
                gap: 16px;
                position: relative;

                &:hover {
                    @include hover-lighten-bg;
                    color: white;
                }

                &::before {
                    @include button-icon-pseudo-element;
                    content: '⚛';
                    font-size: 150%;
                }

                &::after {
                    content: 'Generate Plan for Target Products';
                    padding-right: 16px;
                    white-space: nowrap;
                }
            }
        }

        // Show "Scientists in Crew" only if the industry plan contains processes with secondary outputs
        &:not(.has-secondary-outputs) #refining-penalty { display: none; }
    }

    #industry-plan-main {
        align-items: flex-start;
        display: flex;
        gap: 64px;

        #startup-products {
            --product-icon-size: 32px;

            .startup-products-title {
                margin-bottom: 32px;

                &::before { content: 'Startup Products'; }
            }

            .startup-products-list {
                .startup-product {
                    align-items: center;
                    background-color: var(--color-available-products-bg);
                    color: var(--color-text-normal);
                    cursor: pointer;
                    display: flex;
                    gap: 8px;
                    padding: 2px 16px 2px 2px;
                    position: relative;

                    .product-name {
                        @include single-line-with-ellipsis;
                        font-size: 90%;
                        max-width: 160px;
                    }

                    .remove-product {
                        background-color: var(--color-available-products-bg);
                        bottom: 0;
                        cursor: pointer;
                        display: flex;
                        left: 100%;
                        position: absolute;
                        top: 0;

                        &::before {
                            align-items: center;
                            color: var(--color-warning);
                            content: '✕';
                            display: flex;
                            height: 100%;
                            padding: 0 8px;
                        }

                        &:hover::before {
                            background-color: var(--color-warning);
                            color: white;
                        }
                    }

                    &:hover {
                        @include hover-lighten-bg;
                        color: white !important;

                        .remove-product { @include hover-lighten-bg; }
                    }

                    &:not(:hover) .remove-product { display: none; }
                }

                &:empty + .add-startup-products-button {
                    // Make the "Add Products" button more visible, if no startup products in the list
                    color: var(--color-text-normal);

                    &:hover { color: white; }
                }
            }

            .add-startup-products-button {
                align-items: center;
                background-color: var(--color-available-products-bg);
                color: var(--color-add-button);
                cursor: pointer;
                display: flex;
                gap: 8px;
                padding: 2px 16px 2px 2px;

                &::before {
                    align-items: center;
                    content: '+';
                    display: flex;
                    font-size: 200%;
                    height: var(--product-icon-size);
                    justify-content: center;
                    width: var(--product-icon-size);
                }

                &::after {
                    content: 'Add Products';
                    font-size: 90%;
                    white-space: nowrap;
                }

                &:hover {
                    @include hover-lighten-bg;
                    color: white;
                }
            }
        }

        #industry-tiers {
            display: flex;
            gap: 64px;

            .industry-tier {
                --processor-icon-size: 32px;
                --process-icon-size: 20px;
                // Ensure enough vertical space for "Add Processor" dropdown
                padding-bottom: 210px; // 6 processor types * 35px per processor

                .industry-tier-title {
                    margin-bottom: 32px;

                    &::before { content: attr(data-title); }
                }

                .processors-list {
                    display: flex;
                    flex-direction: column;
                    gap: 32px;

                    &:not(:empty) { margin-bottom: 32px; }

                    .processor {
                        max-width: 240px;

                        .processor-header {
                            padding-right: calc(var(--processor-icon-size) + var(--processor-header-gap));
                            position: relative;

                            &::before { cursor: grab; }

                            .processor-info {
                                align-items: center;
                                bottom: 0;
                                cursor: pointer;
                                display: flex;
                                justify-content: center;
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: var(--processor-icon-size);

                                &::before { content: '#'; }

                                &:hover {
                                    background-color: var(--color-processor-highlight-bg);
                                    color: white;
                                }
                            }

                            .remove-processor {
                                background-color: var(--color-processor-header-bg);
                                bottom: 0;
                                cursor: pointer;
                                display: flex;
                                left: 100%;
                                position: absolute;
                                top: 0;

                                &::before {
                                    align-items: center;
                                    color: var(--color-warning);
                                    content: '✕';
                                    display: flex;
                                    height: 100%;
                                    padding: 0 8px;
                                }

                                &:hover::before {
                                    background-color: var(--color-warning);
                                    color: white;
                                }
                            }

                            &:hover {
                                color: white;

                                &::before { background-blend-mode: color; }
                            }

                            &:not(:hover) .remove-processor { display: none; }
                        }

                        .processes-list {
                            background-color: var(--color-processor-processes-bg);

                            .process {
                                cursor: pointer;
                                display: flex;
                                flex-direction: column;
                                font-size: 90%;
                                gap: 8px;
                                padding: 8px;
                                position: relative;

                                &:not(:first-child) { border-top: 1px solid var(--color-processor-highlight-bg); }

                                .process-header {
                                    align-items: center;
                                    color: var(--color-text-normal);
                                    display: flex;
                                    gap: 8px;
                                    height: var(--process-icon-size);

                                    &::before {
                                        background-image: url('../assets/icons/icon-process.svg');
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        background-size: 24px;
                                        content: '';
                                        display: inline-block;
                                        height: var(--process-icon-size);
                                        max-width: var(--process-icon-size);
                                        min-width: var(--process-icon-size);
                                        opacity: 0.75;
                                    }

                                    .process-name { @include single-line-with-ellipsis; }
                                }

                                .process-materials {
                                    align-items: center;
                                    display: flex;
                                    gap: 16px;
                                    justify-content: space-between;

                                    .inputs,
                                    .outputs {
                                        display: flex;
                                        flex-wrap: wrap;
                                        gap: 4px;

                                        .product-icon {
                                            --product-icon-size: 24px;
                                            background-color: black;
                                            border: 1px solid rgba(255, 255, 255, 0.2);
                                            cursor: pointer;

                                            &.is-primary {
                                                border-color: var(--color-processor-highlight-subtle);
                                                outline: 1px solid var(--color-processor-highlight-subtle);
                                            }

                                            &.flash-primary {
                                                animation: flash-primary 500ms;

                                                &::after { @include flash-tooltip(var(--color-processor)); }

                                                @keyframes flash-primary {
                                                    25% { background-color: var(--color-processor-highlight-subtle); }
                                                    50% { background-color: unset; }
                                                    75% { background-color: var(--color-processor-highlight-subtle); }
                                                }
                                            }

                                            &:hover { border-color: white; }
                                        }
                                    }

                                    .inputs {
                                        .spectral-type {
                                            align-items: center;
                                            border: 1px solid var(--color-processor-highlight-subtle);
                                            border-radius: 50%;
                                            color: var(--color-processor);
                                            cursor: default;
                                            display: flex;
                                            font-size: 90%;
                                            height: 24px;
                                            justify-content: center;
                                            opacity: 0.75;
                                            width: 24px;

                                            &:hover {
                                                border-color: white;
                                                color: white;
                                            }
                                        }
                                    }

                                    .outputs { justify-content: flex-end; }

                                    .separator {
                                        &::after {
                                            content: '⮕';
                                            opacity: 0.5;
                                        }
                                    }
                                }

                                .remove-process {
                                    background-color: var(--color-processor-processes-bg);
                                    bottom: 0;
                                    cursor: pointer;
                                    display: flex;
                                    left: 100%;
                                    position: absolute;
                                    top: 0;

                                    &::before {
                                        align-items: center;
                                        background-color: var(--color-processor-process-hover);
                                        color: var(--color-warning);
                                        content: '✕';
                                        display: flex;
                                        height: 100%;
                                        padding: 0 8px;
                                        white-space: nowrap;
                                    }

                                    &:hover::before {
                                        background-color: var(--color-warning);
                                        color: white;
                                    }
                                }

                                &:hover {
                                    background-color: var(--color-processor-process-hover);

                                    .process-header {
                                        color: white;

                                        &::before { opacity: 1; }
                                    }

                                    .process-materials {
                                        .inputs .spectral-type, .separator::after { opacity: 1; }
                                    }
                                }

                                &:not(:hover) .remove-process { display: none; }
                            }

                            &:empty + .add-process-button {
                                // Make the "Add Process" button more visible, if no processes in the list
                                color: var(--color-text-normal);

                                &::before { opacity: 0.75; }

                                &:hover { color: white; }
                            }
                        }

                        .add-process-button {
                            --padding: 8px;
                            align-items: center;
                            background-color: var(--color-processor-processes-bg);
                            border-top: 1px solid var(--color-processor-highlight-bg);
                            color: var(--color-add-button);
                            cursor: pointer;
                            display: flex;

                            &::before {
                                background-image: url('../assets/icons/icon-process.svg');
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 24px;
                                content: '';
                                display: inline-block;
                                height: var(--process-icon-size);
                                max-width: var(--process-icon-size);
                                min-width: var(--process-icon-size);
                                opacity: 0.25;
                                padding: var(--padding);
                            }

                            &::after {
                                content: 'Add Process';
                                flex-grow: 1;
                                font-size: 90%;
                                line-height: calc(var(--process-icon-size) + (2 * var(--padding)));
                                padding-right: 16px;
                                white-space: nowrap;
                            }

                            &:hover {
                                color: white;

                                &::before,
                                &::after {
                                    background-color: var(--color-processor-process-hover);
                                }

                                &::before { opacity: 1 !important; }
                            }
                        }

                        &.-extractor .add-process-button::after { content: 'Add Extraction'; }
                        &.-empty-lot .add-process-button::after { content: 'Add Construction'; }

                        &.hide-add-process .add-process-button { display: none; }
                    }
                }

                .add-output-product-button,
                .add-processor-panel {
                    align-items: center;
                    background-color: var(--color-button-bg);
                    color: rgba(255, 255, 255, 0.6);
                    cursor: pointer;
                    display: flex;
                    gap: 16px;
                    position: relative;

                    &:hover {
                        @include hover-lighten-bg;
                        color: white;
                    }
                }

                .add-output-product-button {
                    margin-bottom: 32px;

                    &::before {
                        @include button-icon-pseudo-element;
                        content: '⮕';
                    }

                    &::after {
                        content: 'Add Output';
                        padding-right: 16px;
                        white-space: nowrap;
                    }
                }

                .add-processor-panel {
                    &::before {
                        @include button-icon-pseudo-element;
                        content: '+';
                        font-size: 200%;
                    }

                    &::after {
                        content: 'Add Processor';
                        padding-right: 16px;
                        white-space: nowrap;
                    }

                    .add-processor-dropdown {
                        background-color: var(--color-button-bg);
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: 100%;

                        .option {
                            color: rgb(var(--rgb-processor));
                            cursor: pointer;
                            padding: 8px 8px 8px calc(var(--processor-icon-size) + 16px);

                            &:hover {
                                @include hover-lighten-bg;
                                color: white;
                            }
                        }
                    }

                    &:not(:hover) .add-processor-dropdown { display: none; }
                }
            }
        }
    }
}
