@use 'core';

#main-menu {
    align-items: center;
    background-color: var(--color-dark-bg);
    display: flex;
    gap: 32px;
    height: var(--nav-height);
    justify-content: space-between;
    left: 0;
    padding-right: 32px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    > .separator { flex-grow: 1; }

    #side-menu {
        align-items: center;
        color: var(--color-text-normal);
        display: inline-flex;
        position: relative;

        #burger-icon {
            padding: 16px 24px;

            .icon-inner {
                --line-thickness: 2px;
                border-top: var(--line-thickness) solid var(--color-text-normal);
                height: 16px;
                position: relative;
                transition: all 250ms;
                width: 16px;

                &::before,
                &::after {
                    border-top: var(--line-thickness) solid var(--color-text-normal);
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                }

                &::before { top: calc(50% - var(--line-thickness)); }
                &::after { bottom: 0; }
            }
        }

        #page-title { font-size: 120%; }

        &:hover {
            color: white;
            cursor: default;

            #burger-icon .icon-inner {
                border-color: white;
                transform: rotate(90deg);

                &::before, &::after { border-color: white; }
            }
        }

        ul {
            background-color: var(--color-dark-bg);
            display: flex;
            filter: drop-shadow(4px 4px 4px black);
            flex-direction: column;
            left: 0;
            list-style: none;
            position: absolute;
            top: var(--nav-height);

            li {
                color: var(--color-text-normal);
                cursor: pointer;
                line-height: var(--nav-height);
                padding: 0 24px;
                white-space: nowrap;

                &:hover {
                    @include core.hover-lighten-bg;
                    color: white !important;
                }

                &:nth-child(1) { color: rgb(var(--rgb-processor-bioreactor)); }
                &:nth-child(2) { color: rgb(var(--rgb-processor-refinery)); }
                &:nth-child(3) { color: rgb(var(--rgb-processor-factory)); }
            }
        }

        &:not(:hover) ul { display: none; }
    }

    #account-menu {
        color: var(--color-text-normal);

        #starknet-connect {
            cursor: pointer;

            &:hover { color: white; }
        }

        #starknet-wallet {
            align-items: center;
            display: flex;
            gap: 8px;

            &.is-authed .login { display: none; }

            &:not(.is-authed) .api-auth-test { display: none; }

            img { height: 16px; }

            .connected-action {
                cursor: pointer;
                padding-right: 24px;
                
                &:hover { color: white; }
            }
        }
    }

    #minimap-wrapper {
        align-items: center;
        color: var(--color-text-normal);
        cursor: pointer;
        display: flex;
        height: 100%;
        position: relative;

        #minimap-toggle {
            align-items: center;
            display: flex;
            height: 100%;
            padding-right: 24px;
            position: relative;

            &:hover { color: white; }

            &::before { content: 'Minimap'; }

            &::after {
                content: '✕';
                position: absolute;
                right: 0;
            }
        }

        #minimap-canvas {
            background-color: var(--color-dark-bg);
            max-height: 96px;
            position: absolute;
            right: -32px;
            top: 100%;
        }

        &:not(:hover) #minimap-canvas { opacity: 0.5; }

        &.minimized {
            #minimap-toggle::after { content: '▼'; }

            #minimap-canvas { display: none; }
        }
    }
}
