@mixin overlay-cta-button {
    background-color: black;
    cursor: pointer;
    display: inline-block;
    opacity: 0.75;
    padding: 8px 16px;

    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &:not(.disabled):hover { opacity: 1; }
}

@mixin warning-plan-not-saved($warning) {
    background-color: var(--color-warning);
    content: $warning;
    display: block;
    margin-bottom: 32px;
    padding: 8px 16px;
}

.overlay {
    align-items: flex-start;
    backdrop-filter: blur(16px);
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;

    .overlay-content {
        background-color: var(--color-body-bg);
        margin: 64px 0;
        padding: 32px;

        .overlay-content-inner {
            display: flex;
            flex-direction: column;
            gap: 32px;
            min-width: 600px;

            > * { width: 100%; }

            .overlay-header {
                align-items: center;
                display: flex;
                gap: 64px;
                justify-content: space-between;

                .overlay-title { font-size: 150%; }
            }

            .overlay-info {
                font-size: 90%;
                line-height: 150%;
                opacity: 0.5;
            }

            .overlay-filters {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .filter-checkboxes {
                    display: flex;
                    margin: -8px -16px;

                    label {
                        display: flex;
                        font-size: 90%;
                        gap: 8px;
                        padding: 8px 16px;

                        &:hover { @include hover-lighten-bg; }
                    }
                }

                .filter-search {
                    width: 100%;

                    input { width: 100%; }
                }
            }
        }
    }

    .close-overlay-button {
        cursor: pointer;
        opacity: 0.5;
        padding: 32px;
        position: absolute;
        right: 0;
        top: 0;

        &::before {
            content: '✕';
            font-size: 200%;
        }

        &:hover { opacity: 1; }
    }
}

.overlay-generate-plan-for-target-products,
.overlay-add-startup-products {
    .overlay-lists {
        display: flex;
        gap: 32px;
        justify-content: space-between;

        .overlay-list {
            .overlay-list-title {
                display: inline-block;
                margin-bottom: 16px;
                position: relative;

                &::before { // "::after" reserved for tooltip
                    --offset: 6px;
                    content: 'ⓘ';
                    left: calc(100% + var(--offset));
                    opacity: 0.5;
                    position: absolute;
                    top: calc(0px - var(--offset));
                }
            }

            .products-list {
                background-color: var(--color-available-products-bg);
                height: 50vh;

                &:not(:empty) {
                    overflow-y: scroll; // NOT "auto", to avoid overflow for product with longest name
                }

                .product {
                    align-items: center;
                    color: var(--color-text-normal);
                    cursor: pointer;
                    display: flex;
                    font-size: 90%;
                    gap: 8px;
                    padding: 2px 16px 2px 2px;

                    .product-icon { --product-icon-size: 24px; }

                    .product-name { @include single-line-with-ellipsis; }

                    &:hover {
                        @include hover-lighten-bg;
                        color: white;
                    }
                }
            }

            &.selected-products {
                text-align: right;

                .products-list {
                    &:empty {
                        background-color: unset;

                        &::before {
                            content: 'No product selected';
                            opacity: 0.5;
                        }
                    }

                    .product {
                        position: relative;

                        &::before {
                            align-items: center;
                            background-color: var(--color-warning);
                            bottom: 0;
                            color: white;
                            content: '✕';
                            display: flex;
                            left: 0;
                            padding: 0 8px;
                            position: absolute;
                            top: 0;
                        }

                        &:not(:hover)::before { display: none; }
                    }
                }

                .cta-button {
                    margin-top: 16px;

                    @include overlay-cta-button;
                }
            }
        }

        .separator {
            align-items: center;
            display: flex;

            &::after {
                content: '⮕';
                opacity: 0.5;
            }
        }

        &:hover .separator::after { opacity: 1; }
    }
}

.overlay-add-extraction {
    .raw-materials-list {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .category {
            color: var(--color-category);

            &::before {
                content: attr(data-name);
                display: block;
                font-size: 120%;
                margin-bottom: 16px;
            }

            &.-volatile { --color-category: var(--color-category-volatile); --color-category-bg: var(--color-category-volatile-bg); }
            &.-organic { --color-category: var(--color-category-organic); --color-category-bg: var(--color-category-organic-bg); }
            &.-metal { --color-category: var(--color-category-metal); --color-category-bg: var(--color-category-metal-bg); }
            &.-rare-earth { --color-category: var(--color-category-rare-earth); --color-category-bg: var(--color-category-rare-earth-bg); }
            &.-fissile { --color-category: var(--color-category-fissile); --color-category-bg: var(--color-category-fissile-bg); }

            .category-list {
                display: grid;
                gap: 16px;
                grid-template-columns: repeat(4, 1fr);

                .raw-material {
                    align-items: center;
                    background-color: var(--color-available-products-bg);
                    cursor: pointer;
                    display: flex;
                    font-size: 90%;
                    gap: 8px;
                    padding: 4px 8px;

                    .product-icon { --product-icon-size: 32px; }

                    .product-name { opacity: 0.75; }

                    .spectral-types {
                        display: flex;
                        flex-grow: 1;
                        gap: 4px;
                        justify-content: flex-end;
                        padding: 0 8px;

                        .spectral-type {
                            border: 1px solid var(--color-category);
                            border-radius: 50%;
                            display: flex;
                            font-size: 80%;
                            height: 16px;
                            justify-content: center;
                            line-height: 12px;
                            opacity: 0.75;
                            width: 16px;
                        }
                    }

                    &:hover {
                        background-color: var(--color-category-bg);
                        color: white;

                        .product-name, .spectral-type { opacity: 1; }
                    }
                }
            }
        }
    }
}

.overlay-add-process {
    .overlay-lists {
        display: flex;
        gap: 64px;
        justify-content: space-between;

        .overlay-list {
            .overlay-list-title {
                display: inline-block;
                position: relative;

                &::before { // "::after" reserved for tooltip
                    --offset: 6px;
                    content: 'ⓘ';
                    left: calc(100% + var(--offset));
                    opacity: 0.5;
                    position: absolute;
                    top: calc(0px - var(--offset));
                }
            }

            &.available-inputs {
                label {
                    align-items: center;
                    display: flex;
                    gap: 8px;
                }

                .overlay-list-title { display: inline-flex; }

                .available-inputs-list {
                    margin-top: 16px;

                    label {
                        background-color: var(--color-available-products-bg);
                        color: var(--color-text-normal);
                        margin-left: -2px;
                        padding: 2px 16px 2px 2px;

                        .product-icon { --product-icon-size: 24px; }

                        .product-name {
                            @include single-line-with-ellipsis;
                            font-size: 90%;
                            max-width: 160px;
                        }

                        &:hover {
                            @include hover-lighten-bg;
                            color: white;
                        }

                        &:has(input:not(:checked)) {
                            background-color: unset;

                            .product-name { opacity: 0.2; }
                        }
                    }
                }
            }

            &.eligible-processes {
                text-align: right;

                .overlay-list-title { color: rgb(var(--rgb-processor)); }

                .eligible-processes-list {
                    background-color: var(--color-processor-processes-bg);
                    font-size: 90%;
                    margin-top: 16px;

                    &:empty {
                        background-color: unset;

                        &::before {
                            content: 'No matching process';
                            opacity: 0.5;
                        }
                    }

                    // NOTE: most of these styles are duplicated from ".process" @ "industry-plan.scss"
                    .process {
                        cursor: pointer;
                        padding: 8px;

                        &:not(:first-child) { border-top: 1px solid var(--color-body-bg); }

                        .process-header {
                            --process-icon-size: 20px;
                            align-items: center;
                            color: var(--color-text-normal);
                            display: flex;
                            gap: 8px;
                            height: var(--process-icon-size);

                            &::before {
                                background-image: url('../assets/icons/icon-process.svg');
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 24px;
                                content: '';
                                display: inline-block;
                                height: var(--process-icon-size);
                                max-width: var(--process-icon-size);
                                min-width: var(--process-icon-size);
                                opacity: 0.75;
                            }

                            .process-name { @include single-line-with-ellipsis; }

                            .process-materials {
                                align-items: center;
                                display: flex;
                                flex-grow: 1;
                                gap: 16px;
                                justify-content: flex-end;
                                padding-left: 8px;

                                .inputs,
                                .outputs {
                                    display: flex;
                                    flex-wrap: wrap;
                                    gap: 4px;

                                    .product-icon {
                                        --product-icon-size: 24px;
                                        background-color: black;
                                        border: 1px solid rgba(255, 255, 255, 0.2);
                                        cursor: pointer;

                                        &:hover { border-color: white; }
                                    }
                                }

                                .outputs { justify-content: flex-end; }

                                .separator {
                                    &::after {
                                        content: '⮕';
                                        opacity: 0.5;
                                    }
                                }
                            }
                        }

                        &:hover {
                            background-color: var(--color-processor-process-hover);

                            .process-header {
                                color: white;

                                &::before { opacity: 1; }

                                .process-materials .separator::after { opacity: 1; }
                            }
                        }
                    }
                }
            }
        }
    }
}

.overlay-add-output-product {
    .overlay-header {
        .industry-tier {
            @include hover-lighten-bg;
            color: var(--color-text-normal);
            line-height: 32px;
            padding: 0 16px;
        }
    }

    .overlay-lists {
        .overlay-list {
            .overlay-list-title { margin-bottom: 16px; }

            .products-list {
                background-color: var(--color-available-products-bg);
                display: inline-block;

                &:empty {
                    background-color: unset;

                    &::before {
                        content: 'No matching product';
                        opacity: 0.5;
                    }
                }

                .product {
                    align-items: center;
                    color: var(--color-text-normal);
                    cursor: pointer;
                    display: flex;
                    font-size: 90%;
                    gap: 8px;
                    padding: 2px 16px 2px 2px;

                    .product-icon { --product-icon-size: 24px; }

                    .product-name { @include single-line-with-ellipsis; }

                    .process-name {
                        color: var(--color-processor);
                        flex-grow: 1;
                        opacity: 0.5;
                        text-align: right;

                        &::before {
                            content: 'via';
                            margin-right: 8px;
                            opacity: 0.5;
                        }
                    }

                    &:hover {
                        @include hover-lighten-bg;
                        color: white;
                    }
                }
            }
        }
    }
}

.overlay-create-industry-plan {
    &.plan-not-saved .overlay-input::before {
        @include warning-plan-not-saved('WARNING: Creating a new plan will discard all unsaved changes in the currently loaded plan!');
    }

    &.invalid-title {
        .overlay-input::after {
            background-color: var(--color-warning);
            content: 'Title already used by another one of your saved plans. Try a different title.';
            display: block;
            margin-top: 16px;
            padding: 8px 16px;
        }
    }

    .overlay-input input { width: 100%; }

    .overlay-cta .create-plan-button { @include overlay-cta-button; }
}

.overlay-my-industry-plans {
    &.plan-not-saved .overlay-list::before {
        @include warning-plan-not-saved('WARNING: Loading another plan will discard all unsaved changes in the currently loaded plan!');
    }

    .overlay-list {
        margin: 0 -16px;
        width: unset !important;

        .list-item {
            color: var(--color-text-normal);
            display: grid;
            grid-template-columns:
                minmax(0, 1fr) // plan title
                minmax(0, 1fr) // last updated
                ;
            padding: 8px 16px;

            &.list-item-header {
                font-size: 120%;
                opacity: 0.5;
            }

            &:not(.list-item-header) {
                border-top: 1px solid rgba(255, 255, 255, 0.05);
                cursor: pointer;
            }

            &:hover:not(.list-item-header) {
                @include hover-lighten-bg;
                color: white;
            }
        }
    }
}

.overlay-shared-industry-plans {}
