.overlay {
    align-items: flex-start;
    backdrop-filter: blur(16px);
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;

    .overlay-content {
        background-color: var(--color-body-bg);
        margin: 64px 0;
        padding: 32px;
    }

    .close-overlay-button {
        cursor: pointer;
        opacity: 0.5;
        padding: 32px;
        position: absolute;
        right: 0;
        top: 0;

        &::before {
            content: '✕';
            font-size: 200%;
        }

        &:hover { opacity: 1; }
    }
}

.overlay-add-extraction,
.overlay-add-process {
    display: flex;
    flex-direction: column;
    gap: 32px;

    > * { width: 100%; }

    .overlay-header {
        align-items: center;
        display: flex;
        gap: 64px;
        justify-content: space-between;

        .overlay-title { font-size: 150%; }
    }
}

.overlay-add-extraction {
    .raw-materials-list {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .category {
            color: var(--color-category);

            &::before {
                content: attr(data-name);
                display: block;
                font-size: 120%;
                margin-bottom: 16px;
            }

            &.-volatile { --color-category: var(--color-category-volatile); --color-category-bg: var(--color-category-volatile-bg); }
            &.-organic { --color-category: var(--color-category-organic); --color-category-bg: var(--color-category-organic-bg); }
            &.-metal { --color-category: var(--color-category-metal); --color-category-bg: var(--color-category-metal-bg); }
            &.-rare-earth { --color-category: var(--color-category-rare-earth); --color-category-bg: var(--color-category-rare-earth-bg); }
            &.-fissile { --color-category: var(--color-category-fissile); --color-category-bg: var(--color-category-fissile-bg); }

            .category-list {
                display: grid;
                gap: 16px;
                grid-template-columns: repeat(4, 1fr);

                .raw-material {
                    align-items: center;
                    background-color: var(--color-available-products-bg);
                    cursor: pointer;
                    display: flex;
                    font-size: 90%;
                    gap: 8px;
                    padding: 4px 8px;

                    .product-icon { --product-icon-size: 32px; }

                    .product-name { opacity: 0.75; }

                    .spectral-types {
                        display: flex;
                        flex-grow: 1;
                        gap: 4px;
                        justify-content: flex-end;
                        padding: 0 8px;

                        .spectral-type {
                            border: 1px solid var(--color-category);
                            border-radius: 50%;
                            display: flex;
                            font-size: 80%;
                            height: 16px;
                            justify-content: center;
                            line-height: 12px;
                            opacity: 0.75;
                            width: 16px;
                        }
                    }

                    &:hover {
                        background-color: var(--color-category-bg);
                        color: white;

                        .product-name, .spectral-type { opacity: 1; }
                    }
                }
            }
        }
    }
}

.overlay-add-process {
    .overlay-filters {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .filter-checkboxes {
            display: flex;
            margin: -8px -16px;

            label {
                display: flex;
                font-size: 90%;
                gap: 8px;
                padding: 8px 16px;

                &:hover { @include hover-lighten-bg; }
            }
        }

        .filter-search {
            width: 100%;

            input { width: 100%; }
        }
    }

    .overlay-lists {
        display: flex;
        gap: 64px;
        justify-content: space-between;

        .overlay-list {
            .overlay-list-title {
                display: inline-block;
                position: relative;

                &::before { // "::after" reserved for tooltip
                    --offset: 6px;
                    content: 'ⓘ';
                    left: calc(100% + var(--offset));
                    opacity: 0.5;
                    position: absolute;
                    top: calc(0px - var(--offset));
                }
            }

            &.available-inputs {
                label {
                    align-items: center;
                    display: flex;
                    gap: 8px;
                }

                .overlay-list-title {
                    display: inline-flex;

                    @include data-tooltip-align-top-left;
                }

                .available-inputs-list {
                    display: flex;
                    flex-direction: column;
                    margin-top: 16px;

                    label {
                        background-color: var(--color-available-products-bg);
                        color: rgba(255, 255, 255, 0.75);
                        margin-left: -2px;
                        padding: 2px 16px 2px 2px;

                        .product-icon {
                            --product-icon-size: 24px;

                            @include data-tooltip-align-top-left;
                        }

                        .product-name {
                            @include single-line-with-ellipsis;
                            font-size: 90%;
                            max-width: 160px;
                        }

                        &:hover {
                            @include hover-lighten-bg;
                            color: white;
                        }

                        &:has(input:not(:checked)) {
                            background-color: unset;

                            .product-name { opacity: 0.2; }
                        }
                    }
                }
            }

            &.eligible-processes {
                text-align: right;

                .overlay-list-title {
                    color: rgb(var(--rgb-processor));

                    @include data-tooltip-align-top-right;
                }

                .eligible-processes-list {
                    background-color: var(--color-processor-processes-bg);
                    font-size: 90%;
                    margin-top: 16px;

                    &:empty {
                        background-color: unset;

                        &::before {
                            content: 'No matching process';
                            opacity: 0.5;
                        }
                    }

                    // NOTE: most of these styles are duplicated from ".process" @ "industry-plan.scss"
                    .process {
                        cursor: pointer;
                        padding: 8px;

                        &:not(:first-child) { border-top: 1px solid var(--color-body-bg); }

                        .process-header {
                            --process-icon-size: 20px;
                            align-items: center;
                            color: rgba(255, 255, 255, 0.75);
                            display: flex;
                            gap: 8px;
                            height: var(--process-icon-size);

                            &::before {
                                background-image: url('../assets/icons/icon-process.svg');
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 24px;
                                content: '';
                                display: inline-block;
                                height: var(--process-icon-size);
                                max-width: var(--process-icon-size);
                                min-width: var(--process-icon-size);
                                opacity: 0.75;
                            }

                            .process-name { @include single-line-with-ellipsis; }

                            .process-materials {
                                align-items: center;
                                display: flex;
                                flex-grow: 1;
                                gap: 16px;
                                justify-content: flex-end;
                                padding-left: 8px;

                                .inputs,
                                .outputs {
                                    display: flex;
                                    flex-wrap: wrap;
                                    gap: 4px;

                                    .product-icon {
                                        --product-icon-size: 24px;
                                        background-color: black;
                                        border: 1px solid rgba(255, 255, 255, 0.2);
                                        cursor: pointer;

                                        &:hover { border-color: white; }
                                    }
                                }

                                .outputs { justify-content: flex-end; }

                                .inputs .product-icon,
                                .outputs .product-icon {
                                    @include data-tooltip-align-top-right;
                                }

                                .separator {
                                    &::after {
                                        content: '⮕';
                                        opacity: 0.5;
                                    }
                                }
                            }
                        }

                        &:hover {
                            background-color: var(--color-processor-process-hover);

                            .process-header {
                                color: white;

                                &::before { opacity: 1; }

                                .process-materials .separator::after { opacity: 1; }
                            }
                        }
                    }
                }
            }
        }
    }
}
