.product-icon {
    &.-p1 { background-image: url('../assets/products/thumb/water.png'); }
    &.-p3 { background-image: url('../assets/products/thumb/ammonia.png'); }
    &.-p6 { background-image: url('../assets/products/thumb/carbon-dioxide.png'); }
    &.-p15 { background-image: url('../assets/products/thumb/coffinite.png'); }
    &.-p23 { background-image: url('../assets/products/thumb/oxygen.png'); }
    &.-p24 { background-image: url('../assets/products/thumb/deionized-water.png'); }
    &.-p25 { background-image: url('../assets/products/thumb/raw-salts.png'); }
    &.-p26 { background-image: url('../assets/products/thumb/silica.png'); }
    &.-p41 { background-image: url('../assets/products/thumb/fused-quartz.png'); }
    &.-p44 { background-image: url('../assets/products/thumb/cement.png'); }
    &.-p48 { background-image: url('../assets/products/thumb/lithium-carbonate.png'); }
    &.-p52 { background-image: url('../assets/products/thumb/steel.png'); }
    &.-p55 { background-image: url('../assets/products/thumb/sulfuric-acid.png'); }
    &.-p69 { background-image: url('../assets/products/thumb/steel-beam.png'); }
    &.-p70 { background-image: url('../assets/products/thumb/steel-sheet.png'); }
    &.-p81 { background-image: url('../assets/products/thumb/hydrochloric-acid.png'); }
    &.-p105 { background-image: url('../assets/products/thumb/lithium-chloride.png'); }
    &.-p145 { background-image: url('../assets/products/thumb/steel-truss.png'); }
    &.-p146 { background-image: url('../assets/products/thumb/aluminium-hull-plate.png'); }
    &.-p149 { background-image: url('../assets/products/thumb/pressure-vessel.png'); }
    &.-p150 { background-image: url('../assets/products/thumb/propellant-tank.png'); }
    &.-p167 { background-image: url('../assets/products/thumb/cargo-ring.png'); }
    &.-p180 { background-image: url('../assets/products/thumb/pure-nitrogen.png'); }
    &.-p235 { background-image: url('../assets/products/thumb/habitation-module.png'); }
    &.-pB1 { background-image: url('../assets/products/thumb/warehouse.png'); }
    &.-pS2 { background-image: url('../assets/products/thumb/heavy-transport.png'); }
}
