@import url(https://fonts.googleapis.com/css2?family=Jura:wght@300;400;700&family=JetBrains+Mono:wght@100&display=swap);

:root {
    --color-warning: rgb(223, 67, 0);
}

body {
    background-color: #222;
    color: white;
    font-family: Jura, sans-serif;
    margin: 0;
    padding: 64px; //// TEST
}

.product-icon {
    &.-p1 { background-image: url('../assets/products/thumb/water.png'); }
    &.-p3 { background-image: url('../assets/products/thumb/ammonia.png'); }
    &.-p6 { background-image: url('../assets/products/thumb/carbon-dioxide.png'); }
    &.-p15 { background-image: url('../assets/products/thumb/coffinite.png'); }
    &.-p23 { background-image: url('../assets/products/thumb/oxygen.png'); }
    &.-p24 { background-image: url('../assets/products/thumb/deionized-water.png'); }
    &.-p25 { background-image: url('../assets/products/thumb/raw-salts.png'); }
    &.-p26 { background-image: url('../assets/products/thumb/silica.png'); }
    &.-p41 { background-image: url('../assets/products/thumb/fused-quartz.png'); }
    &.-p44 { background-image: url('../assets/products/thumb/cement.png'); }
    &.-p48 { background-image: url('../assets/products/thumb/lithium-carbonate.png'); }
    &.-p52 { background-image: url('../assets/products/thumb/steel.png'); }
    &.-p55 { background-image: url('../assets/products/thumb/sulfuric-acid.png'); }
    &.-p69 { background-image: url('../assets/products/thumb/steel-beam.png'); }
    &.-p70 { background-image: url('../assets/products/thumb/steel-sheet.png'); }
    &.-p81 { background-image: url('../assets/products/thumb/hydrochloric-acid.png'); }
    &.-p105 { background-image: url('../assets/products/thumb/lithium-chloride.png'); }
    &.-p145 { background-image: url('../assets/products/thumb/steel-truss.png'); }
    &.-p146 { background-image: url('../assets/products/thumb/aluminium-hull-plate.png'); }
    &.-p149 { background-image: url('../assets/products/thumb/pressure-vessel.png'); }
    &.-p150 { background-image: url('../assets/products/thumb/propellant-tank.png'); }
    &.-p167 { background-image: url('../assets/products/thumb/cargo-ring.png'); }
    &.-p180 { background-image: url('../assets/products/thumb/pure-nitrogen.png'); }
    &.-p235 { background-image: url('../assets/products/thumb/habitation-module.png'); }
    &.-pB1 { background-image: url('../assets/products/thumb/warehouse.png'); }
    &.-pS2 { background-image: url('../assets/products/thumb/heavy-transport.png'); }
}

[data-tooltip] {
    position: relative;

    &::after {
        background-color: black;
        color: white;
        content: attr(data-tooltip);
        font-size: 90%;
        outline: 4px solid rgba(255, 255, 255, 0.2);
        padding: 4px 8px;
        pointer-events: none; // prevent hover on tooltip
        position: absolute;
        white-space: nowrap;
        z-index: 99;
    }

    &:not(:hover)::after { display: none; }
}

// NOTE: Any element with "[data-tooltip]" must also "@include" one of these mixins
@mixin data-tooltip-align-top-left { &::after { bottom: calc(100% + 8px); left: 0; } }
@mixin data-tooltip-align-top-right { &::after { bottom: calc(100% + 8px); right: 0; } }
@mixin data-tooltip-align-bottom-left { &::after { left: 0; top: calc(100% + 8px); } }
@mixin data-tooltip-align-bottom-right { &::after { right: 0; top: calc(100% + 8px); } }

.industry-tier {
    display: flex;
    flex-direction: column;
    flex-direction: unset; //// TEST
    gap: 64px; //// TEST

    .processor {
        --processor-header-height: 32px;
        max-width: 240px;

        &.-refinery {
            --color-processor-header-bg: rgba(28, 80, 99, 0.6);
            --color-processor-highlight: rgb(87, 213, 255);
            --color-processor-highlight-bg: rgba(87, 213, 255, 0.2);
            --color-processor-highlight-subtle: rgba(87, 213, 255, 0.6);
            --color-processor-process-hover: rgba(87, 213, 255, 0.05);
            --color-processor-processes-bg: rgba(7, 21, 26, 0.6); // same hue+saturation as "header-bg", but 4x lower brightness

            .processor-header {
                &::before { background-image: url('../assets/icons/buildings/Refining-color.png'); }

                .processor-name::before { content: 'Refinery'; }
            }
        }

        &.-factory {
            --color-processor-header-bg: rgba(30, 85, 140, 0.6);
            // --color-processor-highlight: rgb(47, 133, 220);
            --color-processor-highlight: rgb(54, 154, 255); // luminosity 100% vs. rgb(47, 133, 220)
            --color-processor-highlight-bg: rgba(54, 154, 255, 0.2);
            --color-processor-highlight-subtle: rgba(54, 154, 255, 0.6);
            --color-processor-process-hover: rgba(54, 154, 255, 0.05);
            --color-processor-processes-bg: rgba(8, 22, 36, 0.6); // same hue+saturation as "header-bg", but 4x lower brightness

            .processor-header {
                &::before { background-image: url('../assets/icons/buildings/Manufacturing-color.png'); }

                .processor-name::before { content: 'Factory'; }
            }
        }

        &.-shipyard {
            --color-processor-header-bg: rgba(16, 16, 61, 0.6);
            --color-processor-highlight: rgb(129, 129, 255);
            --color-processor-highlight-bg: rgba(129, 129, 255, 0.2);
            --color-processor-highlight-subtle: rgba(129, 129, 255, 0.6);
            --color-processor-process-hover: rgba(129, 129, 255, 0.05);
            --color-processor-processes-bg: rgba(3, 3, 10, 0.6); // same hue+saturation as "header-bg", but 4x lower brightness

            .processor-header {
                &::before { background-image: url('../assets/icons/buildings/Shipbuilding-color.png'); }

                .processor-name::before { content: 'Shipyard'; }
            }
        }

        &.-empty-lot {
            --color-processor-header-bg: rgba(16, 16, 16, 0.6);
            --color-processor-highlight: rgb(129, 129, 129);
            --color-processor-highlight-bg: rgba(129, 129, 129, 0.2);
            --color-processor-highlight-subtle: rgba(129, 129, 129, 0.6);
            --color-processor-process-hover: rgba(129, 129, 129, 0.05);
            --color-processor-processes-bg: rgba(4, 4, 4, 0.6); // same hue+saturation as "header-bg", but 4x lower brightness

            .processor-header {
                &::before { background-image: url('../assets/icons/buildings/Construction-color.png'); }

                .processor-name::before { content: 'Empty Lot'; }
            }
        }

        .processor-header {
            align-items: center;
            background-color: var(--color-processor-header-bg);
            color: var(--color-processor-highlight);
            display: flex;
            gap: 16px;
            height: var(--processor-header-height);
            position: relative;

            &::before {
                background-color: var(--color-processor-highlight-bg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 75%;
                content: '';
                display: inline-block;
                height: var(--processor-header-height);
                width: var(--processor-header-height);
            }

            .processor-info {
                align-items: center;
                bottom: 0;
                cursor: pointer;
                display: flex;
                justify-content: center;
                position: absolute;
                right: 0;
                top: 0;
                width: var(--processor-header-height);

                @include data-tooltip-align-top-right;

                &::before {
                    content: '#';
                }

                &:hover {
                    background-color: var(--color-processor-highlight-bg);
                    color: white;
                }
            }

            .remove-processor {
                align-items: center;
                background-color: var(--color-processor-header-bg);
                bottom: 0;
                cursor: pointer;
                display: flex;
                left: 100%;
                position: absolute;
                top: 0;

                &::before {
                    align-items: center;
                    color: var(--color-warning);
                    content: '✕';
                    display: flex;
                    height: 100%;
                    padding: 0 8px;
                }

                &:hover::before {
                    background-color: var(--color-warning);
                    color: white;
                }
            }

            &:not(:hover) .remove-processor { display: none; }
        }

        .processes {
            background-color: var(--color-processor-processes-bg);

            .process {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                font-size: 90%;
                gap: 8px;
                padding: 8px;
                position: relative;

                &:hover {
                    background-color: var(--color-processor-process-hover);

                    .process-header {
                        color: white;

                        @include data-tooltip-align-top-left;

                        &::before {
                            opacity: 1;
                        }
                    }

                    .process-materials {
                        .separator {
                            &::after {
                                opacity: 1;
                            }
                        }
                    }
                }

                &:not(:first-child) {
                    border-top: 1px solid var(--color-processor-highlight-bg);
                }

                &.add-process {
                    &:not(:hover) {
                        .process-header {
                            color: rgba(255, 255, 255, 0.25);

                            &::before {
                                opacity: 0.25;
                            }
                        }
                    }

                    .process-header {
                        .process-name {
                            &::before {
                                content: 'Add Process';
                            }
                        }
                    }
                }

                .process-header {
                    --height: 20px;
                    align-items: center;
                    color: rgba(255, 255, 255, 0.75);
                    display: flex;
                    gap: 8px;
                    height: var(--height);

                    &::before {
                        background-image: url('../assets/icons/icon-process.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 24px;
                        content: '';
                        display: inline-block;
                        height: var(--height);
                        max-width: var(--height);
                        min-width: var(--height);
                        opacity: 0.75;
                    }

                    .process-name {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                .process-materials {
                    align-items: center;
                    display: flex;
                    gap: 8px;
                    justify-content: space-between;

                    .inputs,
                    .outputs {
                        --width: 24px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 4px;

                        .product-icon {
                            background-color: black;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            border: 1px solid rgba(255, 255, 255, 0.2);
                            cursor: pointer;
                            height: var(--width);
                            width: var(--width);

                            &.-is-primary {
                                border-color: var(--color-processor-highlight-subtle);
                            }

                            &:hover {
                                border-color: white;
                            }
                        }
                    }

                    .inputs .product-icon { @include data-tooltip-align-bottom-left; }
                    .outputs .product-icon { @include data-tooltip-align-bottom-right; }

                    .separator {
                        &::after {
                            content: '⮕';
                            opacity: 0.5;
                        }
                    }
                }

                .remove-process {
                    align-items: center;
                    background-color: var(--color-processor-processes-bg);
                    bottom: 0;
                    cursor: pointer;
                    display: flex;
                    left: 100%;
                    position: absolute;
                    top: 0;

                    &::before {
                        align-items: center;
                        background-color: var(--color-processor-process-hover);
                        color: var(--color-warning);
                        content: '✕';
                        display: flex;
                        height: 100%;
                        padding: 0 8px;
                        white-space: nowrap;
                    }

                    &:hover::before {
                        background-color: var(--color-warning);
                        color: white;
                    }
                }

                &:not(:hover) .remove-process { display: none; }
            }
        }
    }
}

