@import './product-icon.scss';

@import url(https://fonts.googleapis.com/css2?family=Jura:wght@300;400;700&family=JetBrains+Mono:wght@100&display=swap);

:root {
    --color-warning: rgb(223, 67, 0);
}

body {
    background-color: #222;
    color: white;
    font-family: Jura, sans-serif;
    margin: 0;
    padding: 64px;
    position: relative;

    // WIP
    &::before {
        align-items: center;
        background-color: rgb(220, 180, 40);
        color: black;
        content: 'Work in progress';
        display: flex;
        font-size: 80%;
        height: 64px;
        justify-content: center;
        left: 0;
        position: fixed;
        text-align: center;
        top: 0;
        width: 64px;
    }
}

[data-tooltip] {
    position: relative;

    &::after {
        background-color: black;
        color: white;
        content: attr(data-tooltip);
        font-size: 90%;
        outline: 4px solid rgba(255, 255, 255, 0.2);
        padding: 4px 8px;
        pointer-events: none; // prevent hover on tooltip
        position: absolute;
        white-space: nowrap;
        z-index: 99;
    }

    &:not(:hover)::after { display: none; }
}

// NOTE: Any element with "[data-tooltip]" must also "@include" one of these mixins
@mixin data-tooltip-align-top-left { &::after { bottom: calc(100% + 8px); left: 0; } }
@mixin data-tooltip-align-top-right { &::after { bottom: calc(100% + 8px); right: 0; } }
@mixin data-tooltip-align-bottom-left { &::after { left: 0; top: calc(100% + 8px); } }
@mixin data-tooltip-align-bottom-right { &::after { right: 0; top: calc(100% + 8px); } }

@mixin single-line-with-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin processor-icon($processorCategory) {
    .processor-header::before {
        background-image:
            linear-gradient(var(--color-processor-highlight-subtle), var(--color-processor-highlight-subtle)),
            url('../assets/icons/buildings/' + $processorCategory + '.png');
    }
}

@mixin hover-lighten-bg {
    $bgColor: rgba(255, 255, 255, 0.05);
    background-image: linear-gradient($bgColor, $bgColor);
}

.-extractor { --rgb-processor: 220, 180, 40; }
.-bioreactor { --rgb-processor: 136, 230, 117; }
.-refinery { --rgb-processor: 87, 213, 255; }
.-factory { --rgb-processor: 40, 120, 255; }
.-shipyard { --rgb-processor: 129, 129, 255; }
.-empty-lot { --rgb-processor: 160, 160, 160; }

#test-add-building {
    align-items: center;
    display: flex;
    gap: 32px;
    margin-bottom: 64px;

    &::before {
        content: 'Add Processor Building:';
    }

    .button {
        --color-processor: rgb(var(--rgb-processor));
        --color-processor-header-bg: hsl(from var(--color-processor) h s calc(l * 0.5) / 0.15);
        background-color: var(--color-processor-header-bg);
        color: var(--color-processor);
        cursor: pointer;
        padding: 8px;

        &:hover {
            color: white;
        }
    }
}

#industry-plan {
    align-items: flex-start;
    display: flex;
    gap: 64px;

    #startup-products {
        --product-icon-size: 32px;
        --color-startup-products-bg: #111;
        display: flex;
        flex-direction: column;

        #startup-products-title {
            margin-bottom: 32px;

            &::before {
                content: 'Startup Products';
            }
        }

        #startup-products-list {
            display: flex;
            flex-direction: column;

            .startup-product {
                align-items: center;
                background-color: var(--color-startup-products-bg);
                color: rgba(255, 255, 255, 0.75);
                display: flex;
                gap: 8px;
                padding: 2px 16px 2px 2px;
                .product-icon {
                    @include data-tooltip-align-top-left;
                }

                .product-name {
                    @include single-line-with-ellipsis;
                    font-size: 90%;
                    max-width: 200px;
                }

                &:hover {
                    @include hover-lighten-bg;
                    color: white !important;
                }
            }
        }

        .add-products-button {
            align-items: center;
            background-color: var(--color-startup-products-bg);
            color: rgba(255, 255, 255, 0.25);
            cursor: pointer;
            display: flex;
            gap: 8px;
            padding: 2px 16px 2px 2px;

            &::before {
                align-items: center;
                content: '+';
                display: flex;
                font-size: 150%;
                height: var(--product-icon-size);
                justify-content: center;
                width: var(--product-icon-size);
            }

            &::after {
                content: 'Add Products';
                font-size: 90%;
            }

            &:hover {
                @include hover-lighten-bg;
                color: white;
            }
        }
    }

    #industry-tiers {
        display: flex;
        gap: 64px;

        .industry-tier {
            display: flex;
            flex-direction: column;
            gap: 32px;

            &::before {
                content: attr(data-title);
            }

            .processor {
                --color-processor: rgb(var(--rgb-processor));
                --color-processor-header-bg: hsl(from var(--color-processor) h s calc(l * 0.5) / 0.15);
                --color-processor-highlight-bg: rgba(var(--rgb-processor), 0.2);
                --color-processor-highlight-subtle: rgba(var(--rgb-processor), 0.5);
                --color-processor-process-hover: rgba(var(--rgb-processor), 0.05);
                --color-processor-processes-bg: hsl(from var(--color-processor) h s calc(l * 0.05) / 0.5);
                --processor-header-height: 32px;
                max-width: 240px;

                &.-extractor { @include processor-icon('Extraction'); }
                &.-bioreactor { @include processor-icon('Agriculture'); }
                &.-refinery { @include processor-icon('Refining'); }
                &.-factory { @include processor-icon('Manufacturing'); }
                &.-shipyard { @include processor-icon('Shipbuilding'); }
                &.-empty-lot { @include processor-icon('Construction'); }

                .processor-header {
                    --gap: 16px;
                    align-items: center;
                    background-color: var(--color-processor-header-bg);
                    color: var(--color-processor);
                    display: flex;
                    gap: var(--gap);
                    height: var(--processor-header-height);
                    padding-right: calc(var(--processor-header-height) + var(--gap));
                    position: relative;

                    &::before {
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border: calc(var(--processor-header-height) * 0.25 / 2) solid var(--color-processor-highlight-subtle);
                        content: '';
                        cursor: grab;
                        display: inline-block;
                        height: calc(var(--processor-header-height) * 0.75);
                        width: calc(var(--processor-header-height) * 0.75);
                    }

                    .processor-name {
                        white-space: nowrap;
                    }

                    .processor-info {
                        align-items: center;
                        bottom: 0;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: var(--processor-header-height);

                        @include data-tooltip-align-top-right;

                        &::before {
                            content: '#';
                        }

                        &:hover {
                            background-color: var(--color-processor-highlight-bg);
                            color: white;
                        }
                    }

                    .remove-processor {
                        align-items: center;
                        background-color: var(--color-processor-header-bg);
                        bottom: 0;
                        cursor: pointer;
                        display: flex;
                        left: 100%;
                        position: absolute;
                        top: 0;

                        &::before {
                            align-items: center;
                            color: var(--color-warning);
                            content: '✕';
                            display: flex;
                            height: 100%;
                            padding: 0 8px;
                        }

                        &:hover::before {
                            background-color: var(--color-warning);
                            color: white;
                        }
                    }

                    &:hover {
                        color: white;

                        &::before { background-blend-mode: color; }
                    }

                    &:not(:hover) .remove-processor { display: none; }
                }

                .processes {
                    background-color: var(--color-processor-processes-bg);

                    .process {
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        font-size: 90%;
                        gap: 8px;
                        padding: 8px;
                        position: relative;

                        &:hover {
                            background-color: var(--color-processor-process-hover);

                            .process-header {
                                color: white;

                                @include data-tooltip-align-top-left;

                                &::before {
                                    opacity: 1;
                                }
                            }

                            .process-materials {
                                .separator {
                                    &::after {
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        &:not(:first-child) {
                            border-top: 1px solid var(--color-processor-highlight-bg);
                        }

                        &.add-process {
                            &:not(:hover) {
                                .process-header {
                                    color: rgba(255, 255, 255, 0.25);

                                    &::before {
                                        opacity: 0.25;
                                    }
                                }
                            }

                            .process-header {
                                .process-name {
                                    &::before {
                                        content: 'Add Process';
                                    }
                                }
                            }
                        }

                        .process-header {
                            --height: 20px;
                            align-items: center;
                            color: rgba(255, 255, 255, 0.75);
                            display: flex;
                            gap: 8px;
                            height: var(--height);

                            &::before {
                                background-image: url('../assets/icons/icon-process.svg');
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 24px;
                                content: '';
                                display: inline-block;
                                height: var(--height);
                                max-width: var(--height);
                                min-width: var(--height);
                                opacity: 0.75;
                            }

                            .process-name {
                                @include single-line-with-ellipsis;
                            }
                        }

                        .process-materials {
                            align-items: center;
                            display: flex;
                            gap: 8px;
                            justify-content: space-between;

                            .inputs,
                            .outputs {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 4px;

                                .product-icon {
                                    --product-icon-size: 24px;
                                    border: 1px solid rgba(255, 255, 255, 0.2);
                                    cursor: pointer;

                                    &.-is-primary {
                                        border-color: var(--color-processor-highlight-subtle);
                                        outline: 1px solid var(--color-processor-highlight-subtle);
                                    }

                                    &:hover {
                                        border-color: white;
                                    }
                                }
                            }

                            .inputs .product-icon { @include data-tooltip-align-bottom-left; }
                            .outputs .product-icon { @include data-tooltip-align-bottom-right; }

                            .separator {
                                &::after {
                                    content: '⮕';
                                    opacity: 0.5;
                                }
                            }
                        }

                        .remove-process {
                            align-items: center;
                            background-color: var(--color-processor-processes-bg);
                            bottom: 0;
                            cursor: pointer;
                            display: flex;
                            left: 100%;
                            position: absolute;
                            top: 0;

                            &::before {
                                align-items: center;
                                background-color: var(--color-processor-process-hover);
                                color: var(--color-warning);
                                content: '✕';
                                display: flex;
                                height: 100%;
                                padding: 0 8px;
                                white-space: nowrap;
                            }

                            &:hover::before {
                                background-color: var(--color-warning);
                                color: white;
                            }
                        }

                        &:not(:hover) .remove-process { display: none; }
                    }
                }
            }
        }
    }
}
