@import './product-icon.scss';

@import url(https://fonts.googleapis.com/css2?family=Jura:wght@300;400;700&family=JetBrains+Mono:wght@100&display=swap);

:root {
    --color-warning: rgb(223, 67, 0);
}

body {
    background-color: #222;
    color: white;
    font-family: Jura, sans-serif;
    margin: 0;
    padding: 64px;
}

[data-tooltip] {
    position: relative;

    &::after {
        background-color: black;
        color: white;
        content: attr(data-tooltip);
        font-size: 90%;
        outline: 4px solid rgba(255, 255, 255, 0.2);
        padding: 4px 8px;
        pointer-events: none; // prevent hover on tooltip
        position: absolute;
        white-space: nowrap;
        z-index: 99;
    }

    &:not(:hover)::after { display: none; }
}

// NOTE: Any element with "[data-tooltip]" must also "@include" one of these mixins
@mixin data-tooltip-align-top-left { &::after { bottom: calc(100% + 8px); left: 0; } }
@mixin data-tooltip-align-top-right { &::after { bottom: calc(100% + 8px); right: 0; } }
@mixin data-tooltip-align-bottom-left { &::after { left: 0; top: calc(100% + 8px); } }
@mixin data-tooltip-align-bottom-right { &::after { right: 0; top: calc(100% + 8px); } }

@mixin processor-icon($bgImage) {
    .processor-header::before {
        background-image: linear-gradient(var(--color-processor-highlight-subtle), var(--color-processor-highlight-subtle)), url($bgImage);
    }
}

#test-add-building {
    align-items: center;
    display: flex;
    gap: 32px;
    margin-bottom: 64px;

    .button {
        background-color: #444;
        cursor: pointer;
        padding: 8px;

        &:hover {
            background-color: #666;
        }
    }
}

#industry-tiers {
    display: flex;
    gap: 64px;

    .industry-tier {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .processor {
            --rgb-processor: 160, 160, 160;
            --color-processor-highlight: rgb(var(--rgb-processor));
            --color-processor-header-bg: hsl(from var(--color-processor-highlight) h s calc(l * 0.5) / 0.15);
            --color-processor-highlight-bg: rgba(var(--rgb-processor), 0.2);
            --color-processor-highlight-subtle: rgba(var(--rgb-processor), 0.5);
            --color-processor-process-hover: rgba(var(--rgb-processor), 0.05);
            --color-processor-processes-bg: hsl(from var(--color-processor-highlight) h s calc(l * 0.05) / 0.5);
            --processor-header-height: 32px;
            max-width: 240px;

            &.-extractor {
                --rgb-processor: 220, 180, 40;
                @include processor-icon('../assets/icons/buildings/Extraction.png');
            }

            &.-refinery {
                --rgb-processor: 87, 213, 255;
                @include processor-icon('../assets/icons/buildings/Refining.png');
            }

            &.-factory {
                --rgb-processor: 40, 120, 255;
                @include processor-icon('../assets/icons/buildings/Manufacturing.png');
            }

            &.-bioreactor {
                --rgb-processor: 136, 230, 117;
                @include processor-icon('../assets/icons/buildings/Agriculture.png');
            }

            &.-shipyard {
                --rgb-processor: 129, 129, 255;
                @include processor-icon('../assets/icons/buildings/Shipbuilding.png');
            }

            &.-empty-lot {
                // default "--rgb-processor"
                @include processor-icon('../assets/icons/buildings/Construction.png');
            }

            .processor-header {
                --gap: 16px;
                align-items: center;
                background-color: var(--color-processor-header-bg);
                color: var(--color-processor-highlight);
                display: flex;
                gap: var(--gap);
                height: var(--processor-header-height);
                padding-right: calc(var(--processor-header-height) + var(--gap));
                position: relative;

                &::before {
                    background-blend-mode: multiply;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border: calc(var(--processor-header-height) * 0.25 / 2) solid var(--color-processor-highlight-subtle);
                    content: '';
                    cursor: grab;
                    display: inline-block;
                    height: calc(var(--processor-header-height) * 0.75);
                    width: calc(var(--processor-header-height) * 0.75);
                }

                .processor-name {
                    white-space: nowrap;
                }

                .processor-info {
                    align-items: center;
                    bottom: 0;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: var(--processor-header-height);

                    @include data-tooltip-align-top-right;

                    &::before {
                        content: '#';
                    }

                    &:hover {
                        background-color: var(--color-processor-highlight-bg);
                        color: white;
                    }
                }

                .remove-processor {
                    align-items: center;
                    background-color: var(--color-processor-header-bg);
                    bottom: 0;
                    cursor: pointer;
                    display: flex;
                    left: 100%;
                    position: absolute;
                    top: 0;

                    &::before {
                        align-items: center;
                        color: var(--color-warning);
                        content: '✕';
                        display: flex;
                        height: 100%;
                        padding: 0 8px;
                    }

                    &:hover::before {
                        background-color: var(--color-warning);
                        color: white;
                    }
                }

                &:not(:hover) .remove-processor { display: none; }
            }

            .processes {
                background-color: var(--color-processor-processes-bg);

                .process {
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    font-size: 90%;
                    gap: 8px;
                    padding: 8px;
                    position: relative;

                    &:hover {
                        background-color: var(--color-processor-process-hover);

                        .process-header {
                            color: white;

                            @include data-tooltip-align-top-left;

                            &::before {
                                opacity: 1;
                            }
                        }

                        .process-materials {
                            .separator {
                                &::after {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    &:not(:first-child) {
                        border-top: 1px solid var(--color-processor-highlight-bg);
                    }

                    &.add-process {
                        &:not(:hover) {
                            .process-header {
                                color: rgba(255, 255, 255, 0.25);

                                &::before {
                                    opacity: 0.25;
                                }
                            }
                        }

                        .process-header {
                            .process-name {
                                &::before {
                                    content: 'Add Process';
                                }
                            }
                        }
                    }

                    .process-header {
                        --height: 20px;
                        align-items: center;
                        color: rgba(255, 255, 255, 0.75);
                        display: flex;
                        gap: 8px;
                        height: var(--height);

                        &::before {
                            background-image: url('../assets/icons/icon-process.svg');
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 24px;
                            content: '';
                            display: inline-block;
                            height: var(--height);
                            max-width: var(--height);
                            min-width: var(--height);
                            opacity: 0.75;
                        }

                        .process-name {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }

                    .process-materials {
                        align-items: center;
                        display: flex;
                        gap: 8px;
                        justify-content: space-between;

                        .inputs,
                        .outputs {
                            --width: 24px;
                            display: flex;
                            flex-wrap: wrap;
                            gap: 4px;

                            .product-icon {
                                background-color: black;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                border: 1px solid rgba(255, 255, 255, 0.2);
                                cursor: pointer;
                                height: var(--width);
                                width: var(--width);

                                &.-is-primary {
                                    border-color: var(--color-processor-highlight-subtle);
                                }

                                &:hover {
                                    border-color: white;
                                }
                            }
                        }

                        .inputs .product-icon { @include data-tooltip-align-bottom-left; }
                        .outputs .product-icon { @include data-tooltip-align-bottom-right; }

                        .separator {
                            &::after {
                                content: '⮕';
                                opacity: 0.5;
                            }
                        }
                    }

                    .remove-process {
                        align-items: center;
                        background-color: var(--color-processor-processes-bg);
                        bottom: 0;
                        cursor: pointer;
                        display: flex;
                        left: 100%;
                        position: absolute;
                        top: 0;

                        &::before {
                            align-items: center;
                            background-color: var(--color-processor-process-hover);
                            color: var(--color-warning);
                            content: '✕';
                            display: flex;
                            height: 100%;
                            padding: 0 8px;
                            white-space: nowrap;
                        }

                        &:hover::before {
                            background-color: var(--color-warning);
                            color: white;
                        }
                    }

                    &:not(:hover) .remove-process { display: none; }
                }
            }
        }
    }
}
